* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 70px 20px 32px ;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 99;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  display: block;
  background: #1F2022;
  width: 20px;
  height: 3px;
  border-radius: 1.5px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  max-width: 830px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebebeb;
  border: 1px solid #000;
  border-radius: 22px;
  padding-right: 10px;
  margin-right: 20px;
}

.input-search {
  max-width: 800px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 12px 0 12px 23px;  
}

.button-search {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-search {
  width: 19px;
  height: 19px;
  fill: #000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icon-video {
  width: 27px;
  height: 20px;
  fill: #000;  
}

.icon-apps {
  width: 21px;
  height: 21px;
  fill: #000; 
}

.icon-notification {
  width: 22px;
  height: 26px;
  fill: #000;
}

.icons-link {
  text-decoration: none;
  opacity: .24;
}
.icons-link:hover {
  opacity: .7;
}
.icons-link:not(:last-child){
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  padding-left: 32px;
  background: #fff;
}

.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  padding-left: 250px;
  padding-top: 30px;
  padding-right: 70px;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #898989;
}

.nav-link:hover {
  color: #272727;
}

.nav-link:hover .icon {
  fill: #272727;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-item .icon {
  width: 20px;
  height: 19px;  
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-title {
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: 30px;
}

.channel {
  position: relative;
  margin-bottom: 49px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 30px;
  width: 400px;
}

/* .video-card {
  width: 250px;
  height: 150px; 
} */

.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* .video-card-big {
  width: 540px;
  height: 250px;
} */

.video-thumb-big {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail-big {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, .3);
  border-radius: 12px;
  padding: 3px 9px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.video-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}

.video-views {
  margin-right: 1px;
}

.video-views::after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.slider-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
  position: absolute;
  right: 8%;
  top: 15px;
}

.channel-button {
  cursor: pointer;
}

.mobile-sidebar {
  display: none;
}

.mobile-search {
  display: none;
}

@media (max-width: 992px) {
  .icons {
    display: none;
  }

  .user {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    margin-bottom: 40px;
  }

  .slider-buttons {
    display: none;
  }

  .mobile-search {
    display: block;
    margin-left: auto;
  }

  .input-group {
    /* display: none; */
    position: fixed;
    left: 0;
    top: -100px;
    opacity: 0;
    width: 65%;
    margin-left: 20px;
    transition: top .2s;
  }

  .input-group.is-open {
    opacity: 1;
    top: 15px;
  }

  .user {
    margin-left: 25px;
  }

  .menu-button {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding-left: 32px;
  }

  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }

  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }

  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #f1f1f1;
  }

  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }

  .nav-item {
    margin-bottom: 0;
  }
}